/*GLOBAL*/
html
{
	position: relative;
	min-height: 100%;
}

body
{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;

	margin: 0 0 75px; /*bottom value is current footer height*/

	background-image: url( "../images/ignasi-pattern.png" );
	background-color: grey;
}

p
{
	color: #777777
}

h1, h2, h3, h4
{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-weight: bold;
}

h1
{
	font-size: 2em;
}

h2
{
	font-size: 1.75em;
}

h3
{
	font-size: 1.333em;
}

a
{
	color: #666666;
}

/*HEADER*/
nav
{
	float: right;
	position: relative;
	width: 400px;
	height: 100%;
}

hr 
{
	margin-top: 20px;
	margin-bottom: 20px;
	
	height: 1px;

	border: 0;
	border-top: 1px solid #cccccc;
}


header
{
	width: 100%;
	height: 75px;
	background-color: #ffffff;
}

.nav-main
{
	position: absolute;

	right: 0px;
	top: 50%;
	transform: translateY(-50%);
}

/*links contained within the nav section*/
.nav-main > a:not(:last-child) /*this pseudo selector excludes the last item*/
{
	border-right: 2px #f0f0f0 solid;
	padding-right: 20px;
}

.nav-main > a
{
	margin-left: 20px;

	font-size: 1.2em;
	text-decoration: none;
	color: #9e9d9e;
}

.logo
{
	float: left;
	height: 100%;
}

.logo-text
{
	padding: 24px;
	color: #ffffff;
}

.primary-color
{
	background-color: #4aaaa5;
}

.header-bg
{
	background-color: #fff;
	border-bottom: 2px #cccccc solid;
}

/*MAIN*/
.container
{
	margin: 0 auto 0 auto;
	width: 960px;
}

main
{
	width: 650px;
	float: left;
	margin-bottom: 100px;
}

.content
{
	padding: 20px;
	border: 1px #dddddd solid;
}

.content > img
{
	width: 200px;
	margin-right: 10px;
	float: left;
}

.content > p
{
	line-height: 20px;
}

main, aside
{
	background-color: #ffffff;
	display: inline-block;
	padding: 0px;
	margin-top: 20px;
}

/*SIDEBAR*/
aside
{
	width: 270px;
	float: right;
}

.social-icon
{
	width: 64px;
	height: 64px;
	display: inline-block;
}

.social-icon:not(:last-child) 
{
	margin-right: 14px;
}

/*CONTACT CONTENT*/
label
{
	font-size: 1.2em;
	font-weight: bold;
	color: #666;
}

input
{
	margin: 10px 0px;
	padding: 5px;
	color: #bbb;
}

input[type=text], input[type=email]
{
	width: 98%;
	border: 1px #dddddd solid;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus
{
	outline: 1px #4aaaa5 solid;
}

input[type=submit]
{
	padding: 10px 20px;

	font-size: 1.5em;
	border: 0px;
	color: #ffffff;
	background-color: #4aaaa5;
}

textarea
{
	margin: 10px 0px;
	width: 98%;
	height: 200px;

	border: 1px #dddddd solid;
	color: #bbb;
}

/*PORTFOLIO CONTENT*/
.portfolio-item
{
	position: relative;
	display: inline-block;

	width: 275px;
	height: 250px;
	margin-bottom: 50px;

	overflow: hidden;
	cursor: pointer;
}

.portfolio-item:nth-child(odd)
{
	margin-right: 50px;
}

.portfolio-item:last-child
{
	margin-bottom: 0px;
}

.portfolio-label
{
	position: absolute;
	bottom: 20px;
	height: 50px;
	width: 100%;

	background-color: #4aaaa5;
}

.portfolio-label-text > h2
{
	color: #ffffff;
	font-weight: normal;
}

.portfolio-label-text
{
	text-align: center;
	padding: 10px;
}

/*FOOTER*/
footer
{
	margin-top: 200px;
	position: absolute;

	bottom: 0px;
	left: 0px;

	height: 75px;
	width: 100%;

	background-color: #666666;
	border-top: 6px #4aaaa5 solid;
}

.footer-text
{
	padding: 30px;

	text-align: center;
	color: #cccccc;
}

/*DEBUG*/
.debug
{
	border: 1px solid red;
}